.header {
  display: flex;
  box-sizing: border-box;
  top: 20px;
  height: 80px;
  align-items: center;
  background: #00000040;
  padding: 15px;
  border-radius: 100vw;
  border: 2px solid #ffffff40;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header--animate {
  transition:
    top 0.5s linear,
    height 0.5s linear;
}

.header--overflow {
  top: 10px;
  height: 60px;
}
.logo {
  height: 100%;
}

.nav {
}

.container {
  display: flex;
  flex: 1;
  min-width: 0;
  justify-content: end;
  overflow: hidden;
}
.nav-list {
  display: flex;
  margin: 0px;

  list-style: none;
  white-space: nowrap;

  padding: 0px;
}
.nav-list-item {
  color: #ffffff;
  padding: 10px;

  text-decoration: none;

  &.active,
  &:hover,
  &:focus-visible {
    color: var(--primary-color);
  }
}
.menu-button {
  // position: relative;
}

.mobile-menu {
  display: flex;

  margin-top: 20px;
  min-height: 0;
  background: #00000040;
  border-radius: 40px;
  border: 2px solid #ffffff40;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;

  justify-content: start;
  flex-direction: column;

  max-height: 80px;
  opacity: 0;
  pointer-events: none;

  transition:
    max-height 0.5s ease,
    opacity 0.25s ease 0.25s;
}
.mobile-menu--open {
  pointer-events: auto;
  // height: 200px;
  max-height: var(--mobile-menu-height);
  opacity: 1;

  transition:
    max-height 1s ease,
    opacity 0.5s ease;
}
.mobile-list {
  display: grid;
  list-style: none;

  margin: 0px;
  padding: 20px;

  row-gap: 5px;
}
.mobile-list-item {
  color: #ffffff;
  padding: 10px;

  text-decoration: none;

  &.active,
  &:hover,
  &:focus-visible {
    color: var(--primary-color);
  }
}
.hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
