:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.navigation-bar {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;
}

.content {
  flex: 1;
}

.bottom-banner {
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
