@if (currentSrc()) {
  <img
    class="image current"
    [class.hidden]="transitioning()"
    [class.animate]="transitioning()"
    [ngSrc]="currentSrc()"
    alt=""
    fill
  />
}
@if (nextSrc()) {
  <img
    class="image next"
    [class.visible]="transitioning()"
    [class.animate]="transitioning()"
    [ngSrc]="nextSrc()"
    alt=""
    fill
    (load)="handleNextImageLoaded()"
    (transitionend)="handleTransitionEnd()"
  />
}
@if (leftEnable()) {
  <button class="button button-left" (click)="handleLeftClick()">
    <svg class="button__icon" icon="arrow-left" />
  </button>
}
@if (rightEnable()) {
  <button class="button button-right" (click)="handleRightClick()">
    <svg class="button__icon" icon="arrow-right" />
  </button>
}
